body {
color:black;
background-color: #fdefdf;
font-family: Droid Serif;
margin-right: 20px;
margin-left: 20px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
img {
    width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.123);
}
/*background-color: white;
width: 500px;
margin: auto;
padding: 10px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.123);
}*/

footer {
    display: flex;
    justify-content: space-around;
}
